/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: rgb(138, 137, 246);
    background: linear-gradient(0deg, #471533 0%, #1B2936 50%);
}

/* Typeography General*/
h1 {
    font-family: 'Monoton', cursive;
    font-size: 3em;
    margin: 2em 1rem;
    text-shadow: 3px 2px rgb(195, 255, 246);
    
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 6em;
        margin: 2em 4rem 1em;
    }
}

button {
    display: block;
    position: relative;
    left: 100px;
    margin: 3em;
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(0deg, #96f6eb 0%, #e8886e 50%);
    color: rgba(29, 11, 88, 0.8);
    text-shadow: 2px 2px #96f6eb;
    box-shadow: 1px 1px #e8886e;
    cursor: pointer;
}

button :hover{
    background: linear-gradient(0deg, #c696f6 0%, #e6e86e 50%);
    color: rgba(242, 0, 0, 0.8);
}

button a {
    text-decoration: none;
}

h2 {
    display: inline;
    padding: 5px;
    border-bottom: 4px double rgb(138, 137, 246);
    border-left: 4px double rgb(138, 137, 246);
    font: 2.5em 'Oxygen', Sans-Serif;
    color: rgb(163, 255, 232);
    text-shadow: 1px 2.5px rgb(163, 1, 106);
}

.img {
    margin: 12px;
    padding: 3px;
    border: 2px solid rgb(138, 137, 246);
    background: linear-gradient(0deg, #96f6eb 0%, #e8886e 100%);
}

p {
    padding: 10px;
    line-height: 1.6em;
    color: #eee;
    width: 500px;
    border: 2px solid rgb(138, 137, 246);
    text-align:left;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    float: right;
}

.logo a {
    float: left;
    color: rgb(7, 9, 40);
    text-align: center;
    padding: 12px;
    font: 1.5em 'Monoton', cursive;
    text-shadow: 1px 1px #ffffff;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.navbar__menu li {
    display: inline-block;
}


.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(90, 89, 162);
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

.active {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: rgb(201, 201, 201);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

@media only screen and (max-width: 35em){
    .page__header {
        right: 70%;
        width: 30%;
        opacity: 70%;
    }

    .logo a {
        padding-top: 30px;
        text-align: center;
    }
    
    .navbar__menu ul {
        text-align: center;
    }

    .navbar__menu li {
        display: block;
    }

    button {
        margin-left: auto;
        margin-right: auto;
        left: 10px;
        text-align: center;
        
    }

    h1 {
        text-align: center;
    }

    .img {
        width: 180px;
    }
    
    p {
        width: 340px;
    }
}

/* Galaxy fold screen */
@media(max-width: 280px){
    .page__header {
        width: 40%;
        right: 60%;
    }
    p {
        width: 230px;
    }
  }

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(75, 248, 27, 0.1) 0%, rgba(119, 124, 22, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}